<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    @for (route of routes(); track $index; let isLast = $last) {
      <li [class]="'breadcrumb-item' + (isLast ? ' active' : '')"
          [attr.aria-current]="isLast ? 'page' : null">
        @if (!isLast) {
          <a [routerLink]="[route.url]" [queryParams]="route.queryParams">
            @if (route.icon) { <i [class]="route.icon"></i> }
            {{ route.label | translate }}
          </a>
        } @else {
          @if (route.icon) { <i [class]="route.icon"></i> }
          {{ route.label | translate }}
        }
      </li>
    }
  </ol>
</nav>
